<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mood | Playlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/fullpage.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/public.css" />
    <link rel="icon" type="image/png" href="../public/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="../public/css/util.css">
    <link rel="stylesheet" type="text/css" href="../public/css/private.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/mood.css">
    <link rel="stylesheet" href="../public/css/weathercard.css">
    <link rel="stylesheet" href="../public/css/playlist.css">
    <link rel="stylesheet" href="../public/css/comment.css">
    <style>
        .coverart img {
            padding-top: 8rem;
        }

        .tracklist {
            padding-top: 7rem;
        }
    </style>
</head>

<body>
    <div id="fullpage">
        <div class="section fp-auto-height">
            <span class="login100-form-title p-b-34" id="playlist-header">
                🎧{{playlist.name}}🎧 with <span class="weather-tag-text">#{{playlist.weatherTag}}</span>
            </span>
            {{!-- wrap up slides with handlebars --}}
            <div class="music-player">
                <div class="details">
                    <div id="left-side">
                        <span class="coverart">
                            <img src="{{playlist.playlistCover}}"></img>
                        </span>
                    </div>
                    <div id="right-side">
                        <div class="tracklist">
                            <ol>
                                {{#each playlist.tracks}}
                                <li>
                                    <span class="playing fa fa-play"></span>
                                    <span class="track-number">{{@index}}</span>
                                    <span class="track-name">{{this.name}}</span>
                                    <span
                                        class="track-duration">{{this.duration.minutes}}:{{this.duration.seconds}}</span>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="commentbox login100-form-title">
                <span class="commentbox-title">
                    Comment
                </span>
                <form method="POST" action="/details" class="commentbox-input">
                    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type comment">
                        <input id="playlist_id" name="playlist_id" type="hidden" value={{playlist.playlist_id}}>
                        <input id="comment" class="input100" type="text" name="comment"
                            placeholder="Leave your comment!">
                        <span class="focus-input100"></span>
                    </div>
                </form>
                <div class="txt3">
                    <ol>
                        <li>comment1</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class="section fp-auto-height">
        <div class="logo-small">
            <div class="icon animate">
                <span>MOOD</span>
            </div>
            <div class="pipe animate">|</div>
            <div class="name animate"><a href="/">Weather & Music</a></div>
        </div>
        <div class="footer">
            <div>
                <p>📞(917) 291 8448 | 📪mban1@stevens.edu | 📍Stevens Institute of Technology | Made with ❤️ from
                    SIT </p>
            </div>
            <div>
                <p>© Mood. All rights reserved. Developed by group1forpatrick</p>
            </div>
        </div>
    </div> --}}
    <script src="../public/js/fullpage.js"></script>
    <script>
        new fullpage("#fullpage", {
            anchors: ["page1"],
            sectionsColor: ["#ffffff"],
            autoScrolling: false,
            scrollHorizontally: true,
            controlArrows: true,
            verticalCentered: true,
            responsiveWidth: 0,
            responsiveHeight: 0
        });

        //methods
        fullpage_api.setAllowScrolling(true);
    </script>
    <script src="../public/vendor/animsition/js/animsition.min.js"></script>
    <script src="../public/vendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <script src="../public/vendor/daterangepicker/moment.min.js"></script>
    <script src="../public/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="../public/vendor/countdowntime/countdowntime.js"></script>
    <script src="../public/js/login-main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"></script>
    <script src="../public/js/mood.js"></script>
</body>